{{#if resObj.status}}
<h1>{{resObj.statusMsg}}</h1>
{{/if}}
{{#each resObj}}
<div>
<h2>{{name}}</h2>
<img src="{{img_url}}" alt="">
{{#each platforms}}
<p>{{name}}</p>
{{/each}}
<button type="submit">
  <a href="/games/add">add Game</a>
</button>
{{/each}}
</div>