<section>
  <article>
    <h1>Looking for group</h1>
    <h2>find friends to play your with you</h2>
  </article>
</section>
<section>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
  <a href="/games">find games</a>
  <a href="">find friends</a>
</section>