<div class="form-style-8">
  <h2>LOGIN</h2>
  <form action="/login" method="POST">
    <input type="text" name='username' placeholder="Name" />
    <input type="password" name='password' placeholder="Password" />
    <button type="submit">Login</button>
  </form>
</div>
