{{!-- <div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__group"><a href="/" class="menu__link">Home</a></li>
      <li class="menu__group"><a href="/login" class="menu__link">Login</a></li>
      <li class="menu__group"><a href="/about" class="menu__link">About this project</a></li>
    </ul>
  </nav>
</div> --}}





<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" action="/signup" method="POST">
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" name='username' placeholder="Name">
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password">
              </div>
              
              <div class="form-label-group">
                <input type="textarea" id="inputConfirmPassword" placeholder="Channels" name='contactchannels'>
                <input type="file" id="inputImage" placeholder="Image" name='contactchannels'>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
        
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i><a href="/login">Login</a></button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i><a href="/home">Home</a></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>













{{!-- 
<div class="form-style-8">
  <h2>Create your account</h2>
  <form action="/signup" method="POST">
    <input type="text" name='username' placeholder="Name" />
    <input type="email" name='email' placeholder="Email" />
    <input type="password" name='password' placeholder="Password" />
    <textarea placeholder="Channels" name='contactchannels'></textarea>
    <button type="submit">Signup</button>
  </form>
</div> --}}