<div class="page">
  <nav class="menu">
    <ul class="menu__list">
      <!--Adicionar photo de perfil.-->
      <li class="menu__group"><img id="perfilphoto" src="/image/batman_hero_avatar_comics-512.png" alt="some text"></li>
      <li class="menu__group"><a href="/{{username}}" class="menu__link username">{{username}}</a></li>
      <li class="menu__group"><a href='{{username}}/games' class="menu__link">My Games</a></li>
      <li class="menu__group"><a href="/find-games" class="menu__link">Add Gaming</a></li>
      <li class="menu__group"><a href="/logout" class="menu__link">logout</a></li>
    </ul>
  </nav>
</div>

<h1>Profile edit</h1>